<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Karnataka</h2>
    <h3>Places</h3>
    <a href="/smoothies" class="btn">View The Places</a>
  </div>
</header>



<%- include('partials/footer'); -%>