<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie1.png" alt="smoothie recipe icon">
    <h4>Bangalore</h4>
    <p> The Ultimate Tourist Destination</p>
  </li>
  <li class="recipe">
    <img src="/smoothie2.png" alt="smoothie recipe icon">
    <h4>Coorg</h4>
    <p> Get Hypnotised With The Aroma Of Arabica Coffee Beans</p>
  </li>
  <li class="recipe">
    <img src="/smoothie3.png" alt="smoothie recipe icon">
    <h4>Kabini</h4>
    <p>Relax And Rejuvenate By The Riverside</p>
  </li>
  <li class="recipe">
    <img src="/smoothie4.png" alt="smoothie recipe icon">
    <h4>Mysore </h4>
    <p>Where A Heartfelt ‘Wow’ Is The First Reaction</p>
  </li>
  <li class="recipe">
    <img src="/smoothie5.png" alt="smoothie recipe icon">
    <h4>Shimoga</h4>
    <p>The Luxuriant Foliage Describes It All</p>
  </li>
  <li class="recipe">
    <img src="/smoothie6.png" alt="smoothie recipe icon">
    <h4>Mangalore</h4>
    <p>The Sun-Kissed Serenity Amidst City Hustle   </p>
  </li>
</ul>

<%- include('partials/footer'); -%>